@charset "utf-8";
/* CSS Document */


*{
	padding:0;
	margin:0;
}
body{
	font-size: 62.5%;
	background-color: #666;
}
h1, h2, h3{
	font-weight: 700;
	padding: 10px 20px;
	color: #000;
}
h1{
	font-size: 3.6rem;
	font-family: "Cedarville Cursive", cursive;
}
h2{
	font-size: 3.0rem;
	font-family: "Droid Serif", serif;
}
h3{
	font-size: 2.4rem;
	font-family: "Droid Serif", serif;
	color: #494949;
}
p, li, a{
	font-weight: 400;
	font-family: "Droid Sans",sans-serif;
	color: #555;
}
p{
	padding: 10px 20px;
	font-size: 1.4rem;
}
li{
	font-size: 1.4rem;
}
ol li{
	padding: 6px 20px;
	margin-left: 20px;
	list-style-position:inside;
}
a{
	font-size: 1.4rem;
}

/***********************************
					Layout
***********************************/
.wrapper{
	background-color: #fff;
    width: 95%;
    margin: 0 auto;
}
.masthead{

}
.nav{

}
.navbar{

}
.main{
    clear: both;;
    margin-top: 20%

}
.two{
    margin-top: 10%;
}
.three{
    margin-top: 10%;
}
.sidebar{

}
.footer{

}
/***********************************
					Masthead
***********************************/
.masthead h1{
	padding: 30px 20px;
}

/***********************************
					Navigation
***********************************/

.navbar li{
	float:left;

    /* Let navigation bar has two rows where each row contains two navigation elements on smallest screen size.*/
	width: 50%;  /* 960/4 = 240  works if the layout is 960*/

    /* TODO: Check why it did not work properly? */
    /*@media (min-width: 500px) and (max-width: 719px){
        width: 118px;
    }*/
	list-style:none;
}
.navbar a{
	display: block;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	color: #333;
	background-color: #e4e4e4;
}
.navbar a:visited,
.navbar a:hover,
.navbar a:active,
.navbar a:focus{
	color: #fff;
	background-color: #333;
}

/***********************************
					Content
***********************************/
.sidebar p{
	font-size: 1.4rem;
}
.instructions{
	color: #C30;
}
/***********************************
					Footer
***********************************/
.footer p{
	padding: 20px 20px;
	font-size: 1.2rem;
	color: #999;
	background-color: #e4e4e4;
}

/****************************************
Media Queries for different screen sizes
****************************************/
@media all and (min-width: 500px) and (max-width: 719px){

    /* Have the nav as a single horizontal bar across the top.*/
    .navbar li{
        width: 25%;
    }

    /*Below nav show the main section as the whole width. Nothing to do specifically with this requirement since
      main section was cleared on the previous smaller size and its display property is block by default which means
      that it occupies the whole width under the navigation bar in this case. Just adjust top margin of the main
      section*/
    .main{
        margin-top: 10%;
    }
    /*Below the main section second and third columns will float and take up 50% the width*/
    .two{
        float: left;
        width: 50%;
    }
    .three{
        float: right;
        width: 50%;
    }

    .footer{
        clear: both;
    }
}

@media all and (min-width: 720px) and (max-width: 1080px){
    /*have the nav as a horizontal bar across the top, under the masthead.*/
    .navbar li{
        width: 25%;
    }

    /*Below the nav have three columns - main, second, third*/
    .main{
        float: left;
        /*let the width of main section to occupy 50% of screen size*/
        width: 50%;
        /*align top margin of main section with top margin of adjacent columns two and three.*/
        margin-top: 10%;
    }
    .two,
    .three{
        float: left;
        /*let both columns to occupy 25% percent of the screen wide.*/
        width: 25%;
    }
    .footer{
        clear: both;
    }
}
